
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/main.css">
</head>

<body>
  <div id="main_container">
    <div id="container">
      <input id="numberInput" type="text" value="">
      <table id="numbersTable" border="0">
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>+</td>
          <td>&radic;&nbsp;x&nbsp;</td>
        </tr>
        <tr>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>-</td>
          <td>X<sup>d</sup></td>
        </tr>
        <tr>
          <td>7</td>
          <td>8</td>
          <td>9</td>
          <td>*</td>
          <td rowspan="3">=</td>
        </tr>
        <tr>
          <td>0</td>
          <td>.</td>
          <td rowspan="2">C</td>
          <td>/</td>
        </tr>
        <tr>
          <td>+ / -</td>
          <td>( )</td>
          <td><=</td>
        </tr>
      </table>
    </div>
    </div>
</body>
<script type="module" src="javascripts/main.js">
</script>
<script nomodule src="javascripts/fallbackBundle/bundle.js"></script>

</html>
